.messageBox {
  margin: 2%;
  animation: FadeAnimation 1.5s ease-in 0.75s forwards;
}

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
