input {
  margin: 1% auto !important;
  width: 300px !important;
}

.container {
  text-align: center;
  padding-top: 2%;
}

.loginbtn {
  width: 200px;
  margin: auto;
}

.googleloginbtn {
  margin-top: 5% !important;
}
